.PostList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;

    & article {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        & header {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            & svg {
                fill: #141414aa;
            }

            & span {
                color: #141414aa;
                font-weight: 400;
                font-size: 0.875rem;
            }
        }

        & footer {
            & a {
                display: flex;
                align-items: center;
                gap: 0.5rem;

                & svg {
                    fill: #141414aa;
                }
            }
        }
    }
}
