@use 'sass:map';

@import '../variables';

.Burger {
    font-size: 1.5rem;

    i {
        padding: 1rem;
    }

    @media (min-width: map.get($breakpoints, 'lg')) {
        display: none;
    }
}

.upZIndex {
    z-index: 1;
}
