@use 'sass:map';

@import '../variables';

.ShowMenu {
    background-color: #000d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    text-align: center;

    a {
        padding: 1.5rem 1rem;
        font-size: 1.8rem;

        &:hover {
            font-weight: bold;
        }
    }
}
