.about {
    padding: 6rem 0;
}

.aboutContainer {
    display: grid;
    grid-template-columns: min(100%, 30rem) 1fr;
    place-items: center;
    gap: 2.5rem;

    /* @media (width >= 60rem) {
        grid-template-columns: minmax(30%, 40%) 1fr;
    } */
}

.heroPicture {
    background-color: #f9af16;
    border: .25rem solid #f9af16;
    box-shadow: 0 0 1.25rem #f9af16;
    overflow: hidden;
    border-radius: 50%;
    width: min(25rem, 100%);
    height: 25rem;

    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transition: .75s;

        &:hover {
            transform: scale(1.8) translate(-1.5rem, 5rem);
        }
    }
}

.aboutContent {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    p {
        color: #141414aa;
    }

    p:nth-child(2) {
        margin-bottom: 2rem;
    }
}

.aboutContent__social {

    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;

        li a svg {
            font-size: 1.75rem;
        }
    }
}

.aboutContent__stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.25rem;

    div {
        background-color: #fef2dc;
        width: min(17.5rem, 100%);
        padding: 1.25rem;
        border-radius: .25rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 1;

        span:first-child {
            font-size: 2rem;
            font-weight: 700;
        }

        span:nth-child(2) {
            color: #141414aa;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}

.About__Experience {
    padding: 4rem 0;

    & > :first-child {
        & > h3 {
            font-size: clamp(1.5rem, 2rem, 8vw);
            font-weight: 900;
            padding: 1rem 0;
        }
    }
}

.About__Experience_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;

    & > article {
        border-radius: 0.25rem;
        border: 1px solid #ccc;
        background-color: #fff;
        padding: 2rem;
        flex-grow: 1;
        width: min(25rem, 100%);

        & span:nth-child(1) {
            font-weight: 700;
            color: #f9af16;
        }

        & h3 {
            font-size: 1.5rem;
        }

        & span:nth-child(3) {
            font-weight: 700;
        }

        & p {
            color: #141414aa;
            margin-top: 1.5rem;
        }
    }
}

.ServicePage {
    background-color: rgb(243, 249, 255);
    padding: 6rem 0;
}

.ServicePage__Header {
    & header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;

        & h3 {
            font-size: clamp(1.5rem, 2rem, 8vw);
            font-weight: 900;
            padding: 1rem 0;
        }

        & a {
            font-weight: 700;
        }
    }
}

.ServicePage__Service_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;

    & > article {
        border-radius: 0.25rem;
        background-color: #fff;
        padding: 2rem;
        flex-grow: 1;
        width: min(25rem, 100%);
        text-align: center;

        & span:nth-child(1) {
            font-size: 3rem;
            font-weight: 700;
            color: #f9af16;
        }

        & h3 {
            font-size: 1.5rem;
        }

        & span:nth-child(3) {
            font-weight: 700;
        }

        & p {
            color: #141414aa;
            margin-top: 1.5rem;
        }
    }
}
