.contact {
    padding: 6rem 0;

    > * {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

.contactHeader {
    text-align: center;
    padding: 1.25rem 0;

    h2 {
        border-bottom: 0.25rem solid #f9af16;
        font-size: 2.25rem;
        display: inline;

        span {
            color: #f9af16;
        }
    }

    p {
        padding: 1rem;
        color: #14141499;
        font-size: 1.125rem;
        font-weight: 300;
        max-width: 48rem;
        margin: 0 auto;
    }
}

.contactBody {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 17.5rem), 1fr));
    gap: 2rem;
}

.contactBody__header {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    h3 {
        font-size: clamp(1.5rem, 2rem, 8vw);
        font-weight: 600;
    }

    h4 {
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 1.5lh;
    }

    p {
        color: #141414;
    }
}

.contactInfo {
    border-left: 0.25rem solid #f9af16;
    padding: .5rem 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    li {
        a {
            display: flex;
            align-items: center;
            gap: 0.75rem;
            color: #111;
        }
    }
}

.connectWithMe {
    display: flex;
    align-items: center;
    gap: 1.25rem;

    li {
        a {
            font-size: 1.5rem;
            svg {
                transition: 0.3s;
                &:hover {
                    color: #b47800;
                }
            }
        }
    }
}

.contactForm {
    background-color: floralwhite;
    border: 1px solid #f9af16;
    border-radius: 0.75rem;
    padding: 1.875rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    h2 {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    label {
        margin-top: 1rem;
    }

    input,
    textarea {
        border: 1px solid #ccc6;
        border-radius: 0.75rem;
        padding: 1rem;

        &:focus {
            border: 1px solid red;
        }
    }

    textarea {
        min-height: 150px;
        max-width: 100%;
    }
}

.buttonSubmit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    font-weight: 700;
    font-size: 1.125rem;
    padding: 0.75rem 2rem;
    background-color: #111;
    border: 1px solid #111;
    border-radius: 0.5rem;
    color: #f9af16;
    transition: all 0.15s ease-in-out;
    margin-top: 1rem;

    &:hover {
        background-color: #f9af16;
        border: 1px solid #f9af16;
        color: #111;
        cursor: pointer;
    }
}
