@import './variables';
@import './fonts';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: $fontFamilyDefault;
    font-size: $fontSizeDefault;
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    background-color: $backgroundColor;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
