:root {
    line-height: 1.6;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    box-sizing: inherit;
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: Poppins, system-ui, sans-serif;
    min-height: 100vh;
    max-width: 100vw;
    min-width: 20rem;
    scrollbar-gutter: stable both-edges;
}

p {
    margin-bottom: 0.75rem;
}

a {
    font-weight: 500;
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    object-fit: cover;
    vertical-align: middle;
}

li {
    list-style-type: none;
}

.container {
    max-width: clamp(calc(20rem - 2.5rem), 80vw, 95vw);
    margin-left: auto;
    margin-right: auto;
}

.active {
    color: #f9af16;
}

.link-button {
    background-color: #1e1e1e;
    border-radius: 0.25rem;
    border: 1px solid #141414dd;
    color: #fff;
    font-weight: normal;
    text-align: center;
    padding: 0.75rem 2rem;
    transition: all 0.5s ease-out;

    &:hover {
        background-color: transparent;
        color: #141414dd;
        cursor: pointer;
    }
}

.link-button-inverse {
    background-color: transparent;
    color: #1e1e1e;

    &:hover {
        background-color: #1e1e1e;
        color: white;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }

    body {
        color: white;
        background: black;
    }
}
