.Header {
    background-color: #1e1e1e;
    color: white;

    > * {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        padding: 1.5rem 0;
    }
}