.logo {
    user-select: none;
    padding: 1rem 0;
}

.logo__link {
    display: flex;
    align-items: center;
    gap: .75rem;
}

.logo__text {
    --main-color: #ff9600;
    font-size: clamp(1rem, 1.5rem, 4.5vw);
    font-weight: 600;

    &:hover {
        text-shadow: 0 0 1.25rem var(--main-color);
        transition: text-shadow 250ms ease-in-out;
    }

    & > span {
        color: var(--main-color);
    }

    @media (width <= 17.5rem) {
        display: none;
        transition: display 150ms ease-out;
    }
}
