.Navbar {
    display: none;
    user-select: none;

    @media screen and (min-width: 57.5rem) {
        display: flex;
        align-items: center;
    }

    > * {
        padding: 1.5rem 1rem;
        transition: color 200ms ease-in;

        &:hover {
            color: #f9af16;
        }
    }
}