.NotFound {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    & > span {
        color: #4b5563;
        font-size: 3rem;
        font-weight: 900;
        padding-right: 1.25rem;
    }

    & p {
        border-left: 0.0625rem solid #ccc6;
        line-height: 1.3;
        padding-left: 1.25rem;
        display: flex;
        flex-direction: column;

        & span:first-child {
            font-size: 3rem;
            font-weight: 900;
        }

        & span:nth-child(2) {
            color: #707b90;
        }
    }
}
