.PortfolioPage {
    padding: 4rem 0;
}

.PortfolioPage__Header {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3 {
            font-size: clamp(1.5rem, 2rem, 8vw);
            font-weight: 900;
            padding: 1rem 0;
        }

        div {
            display: flex;
            align-items: center;
            gap: 1rem;

            a {
                border: 1px solid #141414aa;
                display: flex;
                align-items: center;
                justify-content: center;

                height: 3rem;
                width: 3rem;
                border-radius: 50%;

                svg:hover {
                    fill: white;
                }
            }
        }
    }
}

.PortfolioPage__Items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;

    > article {
        border-radius: 0.25rem;
        border: 1px solid #ccc;
        background-color: #fff;
        padding: 2rem;
        flex-grow: 1;
        width: min(25rem, 100%);

        span:nth-child(1) {
            font-weight: 700;
            color: #f9af16;
        }

        picture {
            img {
                border-radius: .25rem;
                border: 1px solid #ccc;
            }
        }

        h3 {
            font-size: 1.5rem;
        }

        span:nth-child(3) {
            font-weight: 700;
        }
    }
}

.PortfolioPage__Testimonials {
    /* background-color: rgb(255, 245, 246); */
    padding: 5rem 0;
    text-align: center;
}
