.PortfolioPage {
    padding: 4rem 0;
    padding-bottom: 0;
}

.PortfolioPage__Header {
    > span:first-child {
        text-transform: uppercase;
        font-weight: 600;
        color: #141414aa;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3 {
            font-size: clamp(1.5rem, 2rem, 8vw);
            font-weight: 900;
            padding: 1rem 0;
        }

        div {
            display: flex;
            align-items: center;
            gap: 1rem;

            a {
                border: 1px solid #141414aa;
                display: flex;
                align-items: center;
                justify-content: center;

                height: 3rem;
                width: 3rem;
                border-radius: 50%;

                svg:hover {
                    fill: white;
                }
            }
        }
    }
}

.PortfolioPage__Items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;

    > article {
        border-radius: 0.25rem;
        border: 1px solid #ccc;
        background-color: #fff;
        padding: 2rem;
        flex-grow: 1;
        width: min(25rem, 100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;

        span:nth-child(1) {
            font-weight: 700;
            color: #141414aa;
        }

        picture {
            img {
                width: 100%;
                max-height: 18.75rem;
                border-radius: 0.25rem;
                border: 1px solid #ccc;
            }
        }

        h3 {
            font-size: 1.5rem;
        }

        span:nth-child(3) {
            font-weight: 700;
        }
    }
}

.PortfolioPage__Testimonials {
    background-color: rgb(255, 245, 246);
    margin-top: 4rem;
    margin-bottom: 0;
    padding: 5rem 0;
    text-align: center;

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;

        header {
            span {
                text-transform: uppercase;
                font-weight: 600;
                color: #141414aa;
            }

            h3 {
                font-size: clamp(24px, 2.5rem, 8vw);
            }
        }

        article {
            background-color: #fff;
            border-radius: 0.25rem;
            padding: 2rem;

            p {
                font-size: 1.5rem;
            }

            div {
                h3 {
                    font-size: 1.875rem;
                }

                span {
                    font-size: 1.125rem;
                }
            }
        }

        footer {
            span {
                background-color: #000;
                width: 0.625rem;
                height: 0.625rem;
            }
        }
    }
}
